.home-wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/images/116full.jpg);
  background-repeat: no-repeat;
  background-position: center 60%;
  background-size: cover;
  .header-logo{
    opacity: 0;
  }
  #home{
    opacity: 0;
  }
}

.logo {
  text-align: center;
}

.home-main {
  height: calc(80% - 47px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media (max-width: 561px){
  .logo-bg{
    width: 70%;
  }
}
// @media (max-width: 461px){
//   .logo-bg{
//     width: 70%;
//   }
// }